.body-container {
    color: white;
    text-align: center;
}
.list-group {
    color: white;
}
.body{
    transition-property: rotate;
    rotate: 360deg;
    transition-duration: 4s;
    transition-delay: 0s;
}